body{
    margin: 0;
    font-family: "Roboto";
    background: #eaeaea;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Banner */

.banner .main_cover{
    background: url('../images/cover.png');
    height: 470px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner .logo{
    font-family: "Monoton";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 62px;
    color: #fff;
    font-size: 45px;
    text-align: center
}

.banner span{
    display: block;
    height: 20px;
    background: #a00909
}

/* Artiste List */
.artiste_list{
box-sizing:border-box;
padding:10px 30px;
}

.artiste_list .artiste_link{
    display: block;
    height: 290px;
    background-size: cover !important;
    margin-bottom: 20px;
    position: relative;
}

.artiste_list .artiste_link div{
    background:#a00909;
    color:#fff;
    position:absolute;
    bottom: 0;
    padding: 10px;
}

.artiste_list h4{
    text-align: center;
    font-size: 30px;
    font-weight:100;
    margin: 20px 0;
}

